.button {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 2px;
}

.dish-container {
  padding: 5px;
  .dish-card{
    display: inline-block;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;

    .dish-card__title{
      display: inline-block;
      margin-bottom: 0;
      margin-top: 5px;
      font-size: 18px;
    }
    .dish-card__price {
      display: inline-block;
      margin-left: 30px;
      margin-bottom: 0;
    }
    .dish-card__description{
      margin-top: 5px;
      font-size: 14px;
    }

    .diet {
      p {
        margin: 0;
      }
    }
  }
}